@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Demo Signal R - Chat</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Input post" data-bind="value:post" />
        <br />
        <input type="text" class="form-control pull-left" placeholder="Your name" data-bind="value:username" style="width:40%;" />
        <button class="btn btn-primary pull-right" data-bind="click:sendPost">Submit</button>
        <div class="clearfix"></div>
        <br />
    </div>
    <div class="col-sm-6">
        <div class="jumbotron" data-bind="foreach:postList">
            <div data-bind="text: $data"></div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/chatHub.js"></script>

}